@import "../../../../../../../../../sass/helpers/index.scss";
.segment {
	width: 30%;
	display: flex;
	align-items: center;
	padding: 10px;
	margin: 10px;
	border: 1px solid #dddddd;
	@include if-device(phone) {
		width: auto;
		// width: 40%;
		padding: 0px;
	}
	@include if-device(tablet) {
		width: 40%;
		padding: 0px;
	}
	.segment__icon {
		padding: 10px;
	}
	.segment__content {
		.segment__content__title {
			font-weight: bold;
		}
		.segment__content__subtitle {
			font-size: 12px;
			color: #807f7f;
		}
	}
}
